article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],
 input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}


.clearfix:after {visibility: hidden; display: block; font-size: 0; content: “ “; clear: both; height: 0; }


 * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    /* background-color: #181A18; */
    background-color: whitesmoke;
    color: #181A18;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 6000px;
}

.header {
    padding-top: 100px;
}

body * {
    padding: 0px;
    margin: 0px;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
}

.circle {
    transition: transform 1s ease-in-out;
    cursor: pointer;
    width: 250px;
    height: 50px;
    background-color: azure;
    color: #181A18;
    font-size: 40px;
    text-align: center;
    border-radius: 25px;
}

.circle:hover {
    transform: rotate(360deg);
    content: 'Leave me alone'
}

.hidden-message {
    transition: all 2s ease-in-out;
}

.hidden-message a:hover {
    position: relative;
}

.hidden-message a[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    height: 1.5rem;
    color: #181A18;
    padding: .3rem;
    border-radius: 5px;
    text-align: center;
    background-image: linear-gradient(#eeeeee, #cccccc);
    z-index: 2000;
}

.container-x {
    position: relative;
    width: 50%;
    height: 50px;
    background-color: none;
    border-radius: .8rem;
}

.container-x input {
    width: 98%;
    height: 100%;
    font-size: larger;
    padding: .5rem;
    background-color: dimgray;
    border: none;
    outline: none;
    color: #eeeeee;
    border-radius: .8rem;
}

.exit-x::before, .exit-x::after {
    content: '\007c';
    display: inline-block;
    height: 1.28rem;
    color: #56b3a4;
    opacity: .4;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: .5rem;
    padding: .5rem;
    transition: opacity .2s ease-in-out;
}

.exit-x::before {
    transform: rotate(-45deg);
}

.exit-x::after {
    transform: rotate(45deg);
}

.exit-x:hover::before, .exit-x:hover::after {
    opacity: 1;
}

.growRight::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 25px;
    transition: all 1.5s ease-in-out;
    border: 1px yellow solid;
    cursor: pointer;
}

.growRight:hover::before {
    width: 55px;
    height: 55px;
    margin-left: 45%;
    background-color: blue;
    border-radius: 55px;
    border: 2px green solid;
}

/* Hexagons - Loading Icon */

.hexagon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid pink;
    width: 200px;
    height: 200px;
}

.hexagon {
    background: white;
    transform-origin: center center;
    animation: spin 6000ms alternate infinite ease-in-out;
    width: 3rem;
    height: 1.7301rem;
}

.hexagon,
.hexagon::before,
.hexagon::after {
    /* box-sizing: content-box; */
    background: transparent;
    border: 1.3px solid #56b3a4;
    border-radius: 3px;
    border-top: transparent;
    border-bottom: transparent;
}

.hexagon::before, 
.hexagon::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
}


.hexagon::before {
    animation: spin-before 6000ms alternate infinite ease-in-out;
}

.hexagon::after {
    animation: spin-after 6000ms alternate infinite ease-in-out;
}

@keyframes spin {
    0%, 7% {
        transform: rotate(0deg);
    }
    42%, 58% {
        transform: rotate(360deg);
    }
    93%, 100% {
        transform: rotate(0deg);
    }
}

@keyframes spin-before {
    0%, 7% {
        transform: rotate(60deg);
    }
    42%, 58% {
        transform: rotate(-120deg);
    }
    93%, 100% {
        transform: rotate(60deg);
    }
}

@keyframes spin-after {
    0%, 7% {
        transform: rotate(-60deg);
    }
    42%, 58% {
        transform: rotate(120deg);
    }
    97%, 100% {
        transform: rotate(-60deg);
    }
}

/* End of Hexagon Loading Icon */

.hex-container {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 1rem;
    -webkit-transition:  webkit-transform 1s ease-in-out;
    -moz-transition: -moz-transform 1s ease-in-out;
    -o-transition:  -o-transform 1s ease-in-out;
    -ms-transition: -ms-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}

.hex-container:hover {
    transform: rotate(360deg);
}

/* Might be able to do a hover with sibling selector */

.hex {
    height: 100px;
    width: 100px;
    background: #56b3a4;
    opacity: .5;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    -webkit-transition:  webkit-transform 1s ease-in-out;
    -moz-transition: -moz-transform 1s ease-in-out;
    -o-transition:  -o-transform 1s ease-in-out;
    -ms-transition: -ms-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    grid-column-start: 1;
    grid-row-start: 1;

  }

  .innerhex {
    cursor: pointer;
    height: 95px;
    width: 95px;
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: whitesmoke;
    z-index: 100;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    -webkit-transition:  webkit-transform 1s ease-in-out;
    -moz-transition: -moz-transform 1s ease-in-out;
    -o-transition:  -o-transform 1s ease-in-out;
    -ms-transition: -ms-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
  }


  /* End of Hexagons */

/* Start of Buttons */
/* https://mycolor.space/?hex=%2356B3A4&sub=1 Complete MolEvo Colors*/

.test {
    display: flex;
}

/* .button-container * {
    border: 1px solid pink;
} */

.buttons {
    padding: .8rem 1.8rem;
    width: fit-content;
    border-radius: .5rem;
    cursor: pointer;
    margin: .5rem;
    transition: all .3s ease-in-out;
    color: whitesmoke;
}

.primaryButton {
    background-color: #56b3a4;
    box-shadow: 0 3px 10px #a5aaa5;
}

.primaryButton:hover {
    background-color: #147E70;
}

.primaryButton:active {
    background-color: #344B47;
}

.disabled {
    background-color: #97B1AB;
    cursor: not-allowed;
}

.secondaryButton {
    border-radius: 0px;
    cursor: pointer;
    padding: .4rem 1.8rem 0rem 1.8rem;
}

.secondaryButton p {
    padding: .45rem 0;
}

.secondaryButton,
.secondaryButton2,
.flatButton {
    color: #181A18;
}

.secondaryButton:after {
    transition: all ease-in-out .3s;
    background: none repeat scroll 0 0 #56b3a4;
    content: '';
    display: block;
    height: 2px;
    width: 0;

}
.secondaryButton:hover:after {
    width: 100%;
    padding-right: .4rem;
}

/* Need to figure out how to make this happen right when you hover over button */
.fa-arrow-right-long-hover {
    padding-left: .1rem;
    transition: left .3s ease-in-out;
    position: relative;
    left: 0;
}

.secondaryButton:hover .fa-arrow-right-long-hover, 
.secondaryButton2:hover .fa-arrow-right-long-hover {
    left: .4rem;
}

.greySecondaryButton {
    background-color: #606B72;
    box-shadow: 0 3px 10px #a5aaa5;
}

.greySecondaryButton:hover {
    background-color: #363636;
}

.flatButton {
    border: 2px solid transparent;
}

.flatButton:hover {
    border: 2px solid #56b3a4;
}

.hyperlink {
    cursor: pointer;
    color: #56b3a4;
    transition: color .3s ease-in-out;
}

.hyperlink:hover {
    color: #147E70;
}

/* End of Buttons */


/* Icons */
.icons-container {
    display: flex;
}

.icon-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    margin: 1rem;
    box-shadow: 0 3px 10px #a5aaa5;
    transition: all .3s ease-in-out;
}

.circle-teal {
    background-color: #56b3a4;
}

.circle-teal:hover {
    background-color: #147E70;
}

.icon-white {
    color: whitesmoke;
}

.circle-blue {
    background-color: #071c23;
}

.circle-blue:hover {
    background-color: #010608;
}

.icon-teal {
    color: #56b3a4;
}




/* End of Icons */

/* Social Links */

.social-container {
    display: flex;
    width: fit-content;
    opacity: 1;
    transition: all 250ms ease-in-out;
}

.social-container:hover > *:not(:hover) {
    opacity: .5;
    transition: all 250ms ease-in-out;
}

.social-icon {
    padding: 1rem;   
    font-size: 1.5rem;
    cursor: pointer;

}

.social-icon:hover ~ div {
    opacity: .5;
}


/* End of Social Links */

/* Quotes */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    /* border: 1px solid pink; */
    max-width: 75%;
}

.quote {
    grid-column: 2 / 6;
    /* border: 2px solid green; */
    grid-row: 1;
    font-size: 1.5rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 1rem 1rem 0rem;
}

.quote p::before {
    content: open-quote;
}

.quote p::after {
    content: close-quote;
}

.quote-img {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    /* border: 1px red solid; */
    justify-self: end;
    max-width: 100px;
    margin-top: 1rem;
    margin-right: 1.8rem;

}

.quote-img img {
    max-width: 100px;
    border-radius: 50px;    
    box-shadow: 5px 3px 10px #a5aaa5;    
}

.quote-name {
    grid-column: 3 / 6;
    font-size: 1.2rem;    
    /* border: 2px solid green; */
    align-self: end;
}

/* .quote-name p::before {
    content: '\2013';
} */

.quote-title {
    grid-column: 3 / 6;
    /* border: 2px solid green; */
    align-self: start;
    font-style: italic;
}


/* End of Quotes */

/* Flip card */

.flip-card-front img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: top;
    border-radius: 25px;

}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 25px;

  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #363636;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-back:nth-child(1) {
    font-style: italic;
  }

  .flip-card-back h2 {
    padding: 1rem 0rem;
  }

/* End of flip card */

/* Box slider */

.box-slider {
    display: flex;
    /* flex-wrap: wrap; */
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* border: 1px solid pink; */
}

.reveal-container {
    opacity: 0;
    transition: 1s all ease-in-out;
}

.reveal-active {
    opacity: 1;
}

.reveal-item {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease-in-out;
    margin: 1rem;
}

.reveal-item.active {
    transform: translateY(0);
    opacity: 1;
}

.reveal-test {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease-in-out;
}

.reveal-test.active {
    transform: translateY(0);
    opacity: 1;
}



/* Change js to add some extra width too */
.box {
    width: 200px;
    position: relative;
    top: 0;
    transition: all .4s ease-in-out;
    margin: 1rem;
}

.box-img {
    width: 100%;
    height: 150px;
    transition: all .4s ease-in-out;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* box-shadow: 0 3px 10px #a5aaa5; */
}

.box-text {
    display: flex;
    height: 175px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    transition: all .4s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 0 3px 10px #a5aaa5; */
}

.box-head {
    font-size: 1.2rem;
    transition: all .4s ease-in-out;
}

.box-description {
    font-size: 1rem;
    transition: all .4s ease-in-out;
}

/* End of Box slider */


.random-blob {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.random-blob svg {
    position: fixed;
    display: inline-block;
    fill: url(#MyGradient);
}

#MyGradient {
    /* background-image: linear-gradient(to right, #56b3a4, #053a31); */
    --color-stop: #56b3a4;
    --color-begin: #344B47;
}

/* background-image: url("data:image/svg+xml;base64,ICAgICAgICAgICAgPHN2ZyB2aWV3Qm94PSAiLTgwIDEwMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgICAgICAgICAgICAgPHBhdGggZmlsbD0iI0ZGMDA2NiIgZD0iTTQyLjQsLTQ1QzUxLjMsLTQzLjEsNTIuMiwtMjYuMiw1MS41LC0xMS44QzUwLjgsMi42LDQ4LjMsMTQuNSw0MS44LDIyLjZDMzUuMywzMC43LDI0LjgsMzUsMTEuOSw0NUMtMSw1NSwtMTYuMyw3MC44LC0yNC41LDY3LjdDLTMyLjcsNjQuNSwtMzMuOSw0Mi40LC0zOS45LDI2Qy00NS44LDkuNiwtNTYuNSwtMS4xLC01MS4xLC01Qy00NS43LC04LjksLTI0LjEsLTYsLTEyLjksLTcuNUMtMS43LC05LC0wLjksLTE0LjksOCwtMjQuNEMxNi44LC0zMy45LDMzLjUsLTQ2LjksNDIuNCwtNDVaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDAgMTAwKSIgLz4KICAgICAgICAgICAgPC9zdmc+") */