.menu-container {
    position: absolute;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: antiquewhite;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 50px;
    height: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}

.nav-links > div:not(.buttons) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    cursor: pointer;
    height: 75px;
}

.nav-links:hover > div:not(.buttons) {
    opacity: .5;

}

.nav-links div:hover {
    opacity: 1 !important;
}

.nav-home-sub,
.nav-software-sub,
.nav-about-sub
{
    width: 100%;
    left: 50%;
    top: 75px;
    transform: translateX(-50%);
    position: absolute;
    height: 0px;
    overflow: hidden;
    z-index: 2000;

}

.nav-home:hover .nav-home-sub,
.nav-software:hover .nav-software-sub,
.nav-about:hover .nav-about-sub
{
    width: 100%;
    background-color: whitesmoke;
    height: 150px;
    transition: all .3s ease-in;
    border-bottom: 1px solid black;
    border-top: 1px solid black
}

.sub-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}