.menu-container {
    position: absolute;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: white;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 50px;
    height: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}

.nav-links > div:not(.buttons) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    cursor: pointer;
    height: 75px;
}

.nav-links:hover > div:not(.buttons) {
    opacity: .5;

}

.nav-links div:hover {
    opacity: 1 !important;
}

.highlight {
    position: absolute;
    top: 80px;
    transform: rotate(45deg);
    width: 0;
    /* height: 25px; */
    background-color: #071c23;
    height: 0;
    border-radius: 5px;
}

.nav:hover .highlight
{
    top: 68px;
    height: 25px;
    width: 25px;
    transition: all .2s ease-in .475s;
    
}

.nav-sub
{
    width: 100%;
    left: 50%;
    top: 75px;
    transform: translateX(-50%);
    position: absolute;
    max-height: 0px;
    overflow: hidden;
    z-index: 2000;
    cursor: default;
}

.nav:hover .nav-sub
{
    width: 100%;
    background-color: whitesmoke;
    max-height: 1000px;
    border-bottom: 1px solid #071c23;
    border-top: 1px solid #071c23;
    transition: all .6s ease-in;

}

.sub-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.sub-menu div {
    padding: 1rem;
}

.sub-menu > div {
    grid-column: span 2;
}

.sub-menu-heading {
    border-bottom: 1px solid black;
    font-weight: 700;
    padding: 5px 5px 5px 0;
    cursor: auto;
}

.sub-menu div p:not(:first-child) {
    cursor: pointer;
    margin: 5px 0px;
    padding: 5px 5px 5px 0;
    /* border: 1px solid pink; */
}

.sub-menu div p:not(:first-child):hover {
    opacity: 1 !important;
}

.sub-menu div:hover p:not(:first-child) {
    opacity: .5;
    /* border: 1px solid pink; */
}



